html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
img{
  padding-left: 20px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  object-fit: fill;
}
.company{
  color: #FC1503;
  padding-left: 10px;
  padding-top: 12px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 4vh;
}
::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}

.category-btn:hover span{
  color: white !important;
}
#light .company{
  background-color: white;
}
#dark .company{
  background-color: rgb(0, 0, 0);
}
.react-player {
  height: 63vh !important;
  width: 90% !important;
  padding-left: 50px;
}

.search-bar{
  border:none;
  outline:none;
  width:350px;
}
.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar{
    width:200px;
  }
}